.container{
  margin: auto;

}


.carousel-container {
  color: black;
  padding-top:1em;
  align-items: center;
  justify-content: center;
  height: 65%;
  width: 65%;
  margin-left: 17%;
  margin-bottom: 1em;
}



* {text-decoration: none;}

h1{

}

img{
  align-items: center;
  height: 75%;
}
