<ng-container *ngIf="pet">
  <div class="card text-white bg-primary my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="m-0">{{ pet.title | titlecase }}</h3>
      <a routerLink="/dogs" class="btn btn-secondary">Volver</a>
    </div>
    <div class="card-body bg-secondary">
      <h5 class="card-title">
        {{ pet.raza | titlecase }} ({{ pet.sexo | lowercase }})
      </h5>
      <h6 class="card-title">{{ pet.especie | titlecase }}</h6>
      <span class="badge bg-info">Nº {{ pet.id }}</span>
    </div>
    <img
      src="https://www.zaragoza.es{{ pet.foto }}"
      alt="foto de mascota"
      class="d-block user-select-none"
    />
    <ul class="list-group list-group-flush m-1">
      <li class="list-group-item">
        Nacimiento: {{ pet.fechaNacimiento | date: "dd/MM/yyyy" }}
      </li>
      <li class="list-group-item">Color: {{ pet.capa | lowercase }}</li>
      <li class="list-group-item">
        Esterilizado: {{ pet.esterilizado === "S" ? "Sí" : "No" }}
      </li>
      <li class="list-group-item">
        Rabia: {{ pet.rabia === "S" ? "Sí" : "No" }}
      </li>
      <li class="list-group-item">
        Pot. peligroso: {{ pet.peligroso === "S" ? "Sí" : "No" }}
      </li>
      <li class="list-group-item">Tamaño: {{ pet.tamagno }}</li>
    </ul>
    <div class="card-footer">
      <a routerLink="/dogs" class="btn btn-secondary">Volver</a>
    </div>
  </div>
</ng-container>
