img {
  width: 80px;
  height: 80px;
}

.bg-container {
  width: 100%;
}

.footer{
  padding-top: 0.5em;
}

footer{
  border-radius: 20px 20px 0px 0px;
}


.bg-container::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url(src/assets/banner.png) top left repeat fixed;
  opacity: 0.25;
}
