<p> un grupo de personas de buena voluntad empezó a recoger animales abandonados
  por la ciudad de Zaragoza, a curarlos, alimentarlos y a darles un techo y
  protección en una finca particular de uno de ellos.</p>

<p>Tres años más tarde, la Protectora se puso en contacto con el Ayuntamiento
  para hacerle ver la importancia de implicarse en el cumplimiento de la normativa
  de Aragón referente a la Protección de animales de compañía. Y se llegó
  a un Convenio de Colaboración para la recogida de animales de compañía en el
  municipio de Ávila capital, que aún hoy se mantiene.</p>
