<div class="about-us-container">
  <br>
<div class="text1">
<p>Somos un grupo de personas de buena voluntad que empezaron a recoger animales abandonados
  por la ciudad de Zaragoza, a curarlos, alimentarlos y a darles un techo y
  protección en una finca particular de uno de ellos.</p>

<p>Tres años más tarde, la protectora se puso en contacto con el Ayuntamiento
  para hacerle ver la importancia de implicarse en el cumplimiento de la normativa
  de Aragón referente a la Protección de animales de compañía. Y se llegó
  a un Convenio de Colaboración para la recogida de animales de compañía en el
  municipio de Ávila capital, que aún hoy se mantiene.</p>
</div>




<div class="text2">
  <h2>¡Ayúdanos a ayudarles!</h2>
</div>
<div class="text3">
  <div class="card mb-3 element one" style="max-width: 20rem;">
    <div class="card-header">1. RECAUDACIÓN</div>
    <div class="card-body">
      <p class="card-text">Creamos una bolsa en la que cada persona podrá aportar su granito de arena. ¡Cualquier ayuda será bien recibida!</p>
    </div>
  </div>

  <div class="card mb-3 element two" style="max-width: 20rem;">
    <div class="card-header">2. SELECCIÓN</div>
    <div class="card-body">
      <p class="card-text">A lo largo del mes seleccionamos protectoras que colaboren con la nuestra y necesiten pienso para sus perretes y gatetes.</p>
    </div>
  </div>

  <div class="card mb-3 element three" style="max-width: 20rem;">
    <div class="card-header">3. DONACIÓN</div>
    <div class="card-body">
      <p class="card-text">Con el dinero recaudado de todo el mes compramos el pienso y se lo enviamos a las protectoras más necesitadas.</p>
    </div>
  </div>

  <div class="card mb-3 element four" style="max-width: 20rem;">
    <div class="card-header">4. PERRETES FELICES</div>
    <div class="card-body">
      <p class="card-text">Los perretes y gatetes te lo agradecerán enormemente, te enviaremos fotos de la donación para que veas lo felices que están. 🙂</p>
    </div>
  </div>
  </div>
</div>
<br>

